Azure Data Factory || hcrcm-hospital-data-factory/Pipelines/pl_emr_src_to_bronze.json
{
    "name": "pl_emr_src_to_bronze",
    "properties": {
        "activities": [
            {
                "name": "Lookup EMR configs",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "generic_adls_flat_file_ds",
                        "type": "DatasetReference",
                        "parameters": {
                            "container_name": "configs",
                            "file_path": "emr",
                            "file_name": "configfile_singledb.csv"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup EMR configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup EMR configs').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 10,
                    "activities": [
                        {
                            "name": "Check File Exists or Not Exist",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "generic_adls_parquet_file_ds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container_name": "bronze",
                                        "file_path": {
                                            "value": "@item().targetpath",
                                            "type": "Expression"
                                        },
                                        "file_name": {
                                            "value": "@split(item().tablename,'.')[1]",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "exists"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "ParquetReadSettings"
                                }
                            }
                        },
                        {
                            "name": "Archive old files and copying Fresh data",
                            "type": "IfCondition",
                            "state": "Inactive",
                            "onInactiveMarkAs": "Succeeded",
                            "dependsOn": [
                                {
                                    "activity": "Check File Exists or Not Exist",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@activity('Check File Exists or Not Exist').output.exists",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy to Archive",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "ParquetSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "generic_adls_parquet_file_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "container_name": "bronze",
                                                    "file_path": {
                                                        "value": "@item().targetpath",
                                                        "type": "Expression"
                                                    },
                                                    "file_name": "@split(item().tablename,'.')[1]"
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "generic_adls_parquet_file_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "container_name": "bronze",
                                                    "file_path": {
                                                        "value": "@concat(item().targetpath,'/Archive/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'%M'),'/',formatDateTime(utcNow(),'%d'))",
                                                        "type": "Expression"
                                                    },
                                                    "file_name": {
                                                        "value": "@split(item().tablename,'.')[1]",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Full Load And Incremental Load",
                            "type": "IfCondition",
                            "state": "Inactive",
                            "onInactiveMarkAs": "Succeeded",
                            "dependsOn": [
                                {
                                    "activity": "Archive old files and copying Fresh data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().loadtype,'Full')",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Fetch_logs",
                                        "type": "Lookup",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureDatabricksDeltaLakeSource",
                                                "query": {
                                                    "value": "@concat('SELECT coalsce(cast(max(loaddata) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where ',' data_source=''',item().datasource,''' and tablename=''',item().tablename,'''')",
                                                    "type": "Expression"
                                                }
                                            },
                                            "dataset": {
                                                "referenceName": "AzureDatabricksDeltaLakeDataset",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "schema_name": "'aa'",
                                                    "table_name": "'aa'"
                                                }
                                            },
                                            "firstRowOnly": true
                                        }
                                    },
                                    {
                                        "name": "Copy Data Incremental Load",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Fetch_logs",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureSqlSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat('select *,''',item().datasource,''' as datasource from ',item().tablename,' where ',item().watermark,' >= ''',activity('Fetch_logs').output.firstRow.last_fetched_date,'''')\n",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "generic_sql_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "db_name": {
                                                        "value": "@item.database",
                                                        "type": "Expression"
                                                    },
                                                    "schema_name": {
                                                        "value": "@split(item().tablename,'.')[0]",
                                                        "type": "Expression"
                                                    },
                                                    "table_name": {
                                                        "value": "@split(item().tablename,'.')[1]",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "generic_adls_parquet_file_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "container_name": "bronze",
                                                    "file_path": {
                                                        "value": "@item().targetpath",
                                                        "type": "Expression"
                                                    },
                                                    "file_name": {
                                                        "value": "@split(item().tablename,'.')[1]",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "update audit table for Incremental Load",
                                        "type": "Lookup",
                                        "dependsOn": [
                                            {
                                                "activity": "Copy Data Incremental Load",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureDatabricksDeltaLakeSource",
                                                "query": {
                                                    "value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',item().datasource,''', ''',item().tablename,''',''',activity('Copy Data Incremental Load').output.rowscopied,''',''',item().watermark,''',''',utcNow(),''')')\n",
                                                    "type": "Expression"
                                                }
                                            },
                                            "dataset": {
                                                "referenceName": "AzureDatabricksDeltaLakeDataset",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "schema_name": "'aa'",
                                                    "table_name": "'aa'"
                                                }
                                            }
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy Data Full Load",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureSqlSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat('SELECT *,''',item().datasource,''' as datasource FROM',item().tablename)",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "generic_sql_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "db_name": {
                                                        "value": "@item().database",
                                                        "type": "Expression"
                                                    },
                                                    "schema_name": {
                                                        "value": "@split(item().tablename,'.')[0]",
                                                        "type": "Expression"
                                                    },
                                                    "table_name": {
                                                        "value": "@split(item().tablename,'.')[1]",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "generic_adls_parquet_file_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "container_name": "bronze",
                                                    "file_path": {
                                                        "value": "@item().targetpath",
                                                        "type": "Expression"
                                                    },
                                                    "file_name": {
                                                        "value": "@split(item().tablename,'.')[1]",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "update audit table for Full Load",
                                        "type": "Lookup",
                                        "dependsOn": [
                                            {
                                                "activity": "Copy Data Full Load",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureDatabricksDeltaLakeSource",
                                                "query": {
                                                    "value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddata) values(''',item().datasource,''',''',item().tablename,''',''',activity('Copy Data Full Load').output.rowscopied,''',''',item().watermark,''',''',utcNow(),''')')",
                                                    "type": "Expression"
                                                }
                                            },
                                            "dataset": {
                                                "referenceName": "AzureDatabricksDeltaLakeDataset",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "schema_name": "'ss'",
                                                    "table_name": "'ss'"
                                                }
                                            },
                                            "firstRowOnly": false
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Check active_flag",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Full Load And Incremental Load",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().is_active, '1')",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Execute Pipeline1",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "pl_copy_from_emr",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "database": {
                                                    "value": "@item().database",
                                                    "type": "Expression"
                                                },
                                                "datasource": {
                                                    "value": "@item().datasource",
                                                    "type": "Expression"
                                                },
                                                "tablename": {
                                                    "value": "@item().tablename",
                                                    "type": "Expression"
                                                },
                                                "loadtype": {
                                                    "value": "@item().loadtype",
                                                    "type": "Expression"
                                                },
                                                "watermark": {
                                                    "value": "@item().watermark",
                                                    "type": "Expression"
                                                },
                                                "is_active": {
                                                    "value": "@item().is_active",
                                                    "type": "Expression"
                                                },
                                                "targetpath": {
                                                    "value": "@item().targetpath",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-03-10T13:45:30Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}